

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>You are now Logged out</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
    </div>
