.heading--area {
	height: 100px;
	width: 100%;
	position: relative;

	& .heading {
		position: relative;
		  left: 50%;
		  top: 50%;
		  transform: translate(-50%,-50%);
	}
}

.content--area {
	padding-top:20px;
}

.login-form, .signup-form {
	display:none;
}
