.main-container {
	min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;

    &--menu {
    	background: $highlight-red;
    }
}

.header-container {
	max-width: 1200px;
	margin:auto;
	background: $highlight-red;
}

.menu--sidebar {
	padding: 0;
	margin: 0;
	background: $primary;
	position: relative;
	top:0;
    bottom:0;
    left:0;
    right:0;
}

.logo {

	& img {
		width: auto;
		height: auto;
		max-height: 80px;
		display:block;
		margin: 0 auto;
	}
}

.menu {
	&--item {
	padding: 20px 0px;
	font-family: $base-font;
	text-align: center;
	color: #ffffff;
	display: inline-block;
	vertical-align: middle;
	width: 25%;

	@media only screen and (max-width : 768px) {
		width: 100%;
		display: block;
		height: auto;
		padding: 0;
    }

	& h3 {
		padding: 0;
		margin:0;
		line-height: 40px;
	}

	&--active {
		background: $highlight-red;
	}

	}
}

.profile {

	& span {
		line-height: 40px;
	}
}
