//Colors
$primary: #A9A9A9;
$background-grey: #b5b5b7;
$background-blue: #252839;
$highlight-blue: #CAEBF2;
$highlight-red: #FF3B3F;
$highlight-orange: #f0ad4e;


//Fonts
// WARNING - don't use these variables, use the mixins in the partials/mixin.scss file as they
// properly handle letter spacing.
$light-font:   'Hevetica Neue', Helvetica, Arial, sans-serif;
$book-font:    'Hevetica Neue', Helvetica, Arial, sans-serif;
$base-font:  'Hevetica Neue', Helvetica, Arial, sans-serif;
$medium-font: 'Hevetica Neue', Helvetica, Arial, sans-serif;
$heavy-font:  'Hevetica Neue', Helvetica, Arial, sans-serif;
$black-font:  'Hevetica Neue', Helvetica, Arial, sans-serif;

$light-italic-font:  'Avenir Light Oblique',  'Hevetica Neue', Helvetica, Arial, sans-serif;
$book-italic-font:   'Avenir Book Oblique',   'Hevetica Neue', Helvetica, Arial, sans-serif;
$roman-italic-font:  'Avenir Roman Oblique',  'Hevetica Neue', Helvetica, Arial, sans-serif;
$medium-italic-font: 'Avenir Medium Oblique', 'Hevetica Neue', Helvetica, Arial, sans-serif;
$heavy-italic-font:  'Avenir Heavy Oblique',  'Hevetica Neue', Helvetica, Arial, sans-serif;
$black-italic-font:  'Avenir Black Oblique',  'Hevetica Neue', Helvetica, Arial, sans-serif;


// Grid settings
$column-gutter: rem-calc(30);
$row-inner-width: rem-calc(1200);
$row-width: $row-inner-width + $column-gutter;

body {
	background: $background-blue;
	color: #ffffff;
}

.well {
	background: #333333;
}


